*{
    box-sizing: border-box;
    margin:0;
    PADDING:0;
}
body{
    font-family: 'roboto';
}
.menu-wrap .toggler{
    position: absolute;
    top:30px;
    left: 5px;
    cursor: pointer;
    width:40px;
    height: 40px;
    opacity: 0;
}
.menu-wrap .hamburger-menu{
    position: absolute;
    top:10px;
    left:0;
    z-index: 1;
    width:40px;
    height: 40px;
    padding:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(19, 18, 18);
}
/*hamburger line*/
.menu-wrap .hamburger-menu > div {
    position: relative;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 251, 0);
    transition: all .5s ease;
}
.menu-wrap .hamburger-menu > div:before,
.menu-wrap .hamburger-menu > div:after{
    content:'';
    position: absolute;
    z-index: 1;
    top:-10px;
    width: 100%;
    height: 2px;
    background: rgb(255, 251, 0);
}
.menu-wrap .hamburger-menu > div:after{
    top:10px;
}
.menu-wrap .toggler:checked + .hamburger-menu > div{
    transform: rotate(135deg);
}
/*turning lines into x*/
.menu-wrap .toggler:checked + .hamburger-menu > div:before,
.menu-wrap .toggler:checked + .hamburger-menu > div:after{
    top:0;
    transform: rotate(90deg);
}
.menu-wrap .toggler:checked:hover + .hamburger-menu > div{
    transform: rotate(225deg);
}
/*show menu*/
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}
.menu-wrap .menu{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    max-height:100%;
    display: flex;
    align-items:center;
}
.menu-wrap .menu > div{
    background:#fff;
    border-radius: 0 0 5px 0;
    max-width:fit-content;
    margin-bottom: auto;
    margin-top: 63px;
    transition: .2s ease-in;
    border-right: 2px solid silver;
}
.menu li a{
    color:#000;
    line-height: 20px;
    padding:10px 18px;
    text-decoration: none;
    font-size: 18px;
    margin-left: 35px;
}
.toggler:checked .menu-wrap .menu + {
    visibility: visible;
}
.menu li a:hover{
    opacity: 0.6;
}
.about-h2{
    background: rgb(221, 248, 253);
    color:#000;
    font-size: 24px;
    font-family: 'roboto';
    margin-right: auto;
    margin-left: 24px;
}
.about-page-wrapper{
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-inline: auto;
}
.about-wrapper{
    background: #fff;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-block: 20px;
    background-color: rgb(221, 248, 253);
    margin-inline: auto;
}
.about-card{
    max-width: 500px;
    padding:30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-inline: auto;
}
.menu{
    margin-bottom: auto;
    margin-top: 5px;
}

.about-card p {
    max-width: 300px;
    margin-inline: auto;
}
.about-p1{
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-items: center;
    flex-direction: column;
    text-align: left;
}
.about-p2{
    width:100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 60px;
}
.signup a{
    text-decoration: underline;
    color: #fff;
    font-weight: 900;
}
.about-h1{
    margin-inline: auto;
    background: rgb(221, 248, 253);
    color:#000;
    padding:10px;
    width:100%;
    max-width: 300px;
}
footer{
    margin-bottom: 0;
    display: flex;
    width:100%;
}
@media(min-width:320px){
.about-card h2{
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: -25px;
    max-width: fit-content;
    min-width: fit-content;
}
.about-card p{
        max-width: 320px;
        font-size: 14px;
        line-height: 19px;
}
.about-p1, .about-p2{
        max-width: 320px;
        align-items: center;
        justify-content: center;
        margin: auto;
        flex-grow: 1;
}
.about-wrapper{
    justify-items: center;
}
}